body {
	font-family: Georgia,"Times New Roman",Times,serif;
}

a:link {color: #4d3766;}      /* unvisited link */
a:visited {color: #4d3766;}   /* visited link */
a:hover {color: #555555;}     /* mouse over link */
a:active {color: #555555;}    /* selected link */


h1 {
	margin-left: 10px;
}

.message {
	margin-left: 10px;
}

.navdesign {
    background: #4d3766;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-brand {
    color: white;
}
