{% extends "layout.html" %}
{% block div %}
  {% if electionid and not error %}
  <form action="/vote/{{electionid}}" method="POST" >
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>{{electionname}}</h1>
    <div class="panel-group elections" id="accordion">
    {% for i in positions %}
        <div class="panel panel-default" id="panel-{{ loop.index }}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapse-{{ loop.index }}" 
                 href="#collapse-{{ loop.index }}" class="collapsed">
                {{i.name}}
              </a>
            </h4>
          </div>
          <div id="collapse-{{ loop.index }}" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="DocumentList">
                <ul class="list-inline">
             
                  {% set rowloop = loop %}
                  {% for j in candidates[positions.index(i)] %}
                      <!--  <img src="../static/img/phil.jpg" class="candidate"> -->
                      <label class="radio-inline">
                        <input type="radio" name="{{j.id}}" value="{{j.voterid}}">{{j.fname}} {{j.lname}}
                      </label>
                  {% endfor %}
                
                </ul>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
    <button class="btn btn-primary" type="submit">Submit Votes</button>
    </div>
    </div>
    </div>
  </form>
  {% else %}
  {% if error %}
  <p class="message">{{error}}</p>
  {% endif %}
  {% if thankyou %}
  <p class="message">{{thankyou}}</p>
  {% endif %}
  {% for i in elections %}
    <h1><a href="/elections/{{i.id}}">{{i.name}}</a></h1>
  {% endfor %}
  {% endif %}
{% endblock %}
