<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vote</title>
  <link rel=stylesheet media="screen" href="../static/bootstrap.css">
  <link rel=stylesheet type=text/css href="../static/style.css">
  <link rel=stylesheet type=text/css href="../static/voting_page.css">
</head>
<body>
  <nav class="navbar navbar-default navdesign">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/elections">vote.acu.edu</a>
    </div>
  </div>
</nav>
{% block div %}{% endblock %}

<!-- Post Info -->
<!-- <div style='position:fixed;bottom:0;left:0;    
            background:lightgray;width:100%;'>Based off this SO Question: <a href='http://stackoverflow.com/a/11658976/1366033'>Keep Bootstrap Grid Open</a>

    <br/>Based off this SO Question: <a href='http://stackoverflow.com/a/18568997/1366033'>Show Collapse state with Chevron Icon</a>

    <br/>Find documentation: <a href='http://getbootstrap.com/javascript/#collapse-usage'>Bootstrap Collapse Usage</a>

    <br/>Fork This Skeleton Here <a href='http://jsfiddle.net/KyleMit/kcpma/'>Bootrsap 3.0 Skeleton</a>

    <br/>
    <div> -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../static/bootstrap.js"></script>
</body>
