{% extends "layout.html" %}
{% block div %}
  {% if electionid %}
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>{{electionname}}</h1>
    <div class="panel-group elections" id="accordion">
    {% for i in positions %}
        <div class="panel panel-default" id="panel-{{ loop.index }}">
          <div class="panel-heading">{{i.name}}</div>
		<div class="panel-body">
                <ul class="list-inline">

                  {% set rowloop = loop %}
                  {% for j in candidates[positions.index(i)] %}
                      <!--  <img src="../static/img/phil.jpg" class="candidate"> -->
                        <p>{{j.fname}} {{j.lname}}</br> Votes: {{j.votes}}</p>
                  {% endfor %}

                </ul>
		</div>
	</div>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
  {% else %}
  {% if error %}
  <p class="message">{{error}}</p>
  {% endif %}
  {% if thankyou %}
  <p class="message">{{thankyou}}</p>
  {% endif %}
  {% for i in elections %}
    <h1><a href="/voter_data/{{i.id}}">{{i.name}}</a></h1>
  {% endfor %}
  {% endif %}
{% endblock %}
