<!doctype html>
<head>
  <title>Vote</title>
  <link rel=stylesheet media="screen" href="../static/bootstrap.css">
  <link rel=stylesheet type=text/css href="../static/style.css">
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" 
           href="#collapseOne" class="collapsed">
          Collapsible Group Item #1
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="DocumentList">
                <ul class="list-inline">
                  <form role="form">
                    <img src="../static/img/phil.jpg" class="candidate">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 2
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                  </form>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseTwo" 
           href="#collapseTwo" class="collapsed">
          Collapsible Group Item #2
        </a>
      </h4>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="DocumentList">
                <ul class="list-inline">
                  <form role="form">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 2
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                  </form>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree" class="collapsed">
          Collapsible Group Item #3
        </a>
      </h4>

        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="DocumentList">
                <ul class="list-inline">
                  <form role="form">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 2
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Option 3
                    </label>
                  </form>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- Post Info -->
<!-- <div style='position:fixed;bottom:0;left:0;    
            background:lightgray;width:100%;'>Based off this SO Question: <a href='http://stackoverflow.com/a/11658976/1366033'>Keep Bootstrap Grid Open</a>

    <br/>Based off this SO Question: <a href='http://stackoverflow.com/a/18568997/1366033'>Show Collapse state with Chevron Icon</a>

    <br/>Find documentation: <a href='http://getbootstrap.com/javascript/#collapse-usage'>Bootstrap Collapse Usage</a>

    <br/>Fork This Skeleton Here <a href='http://jsfiddle.net/KyleMit/kcpma/'>Bootrsap 3.0 Skeleton</a>

    <br/>
    <div> -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../static/bootstrap.js"></script>
</body>